{% extends "layout1.html" %}
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
            <form action="/update/{{student.id}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="Roll" value="{{student.roll}}">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" name="fullname" value="{{student.name}}">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" name="email" value="{{student.email}}">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" value="{{student.mobile}}">
                </div>
            
                <button class="btn btn-primary btn-block">
                    Update
                </button>
            </form>

        </div>

    </div>

</div>
{% endblock %}